@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;900&display=swap');
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    max-height: 1000vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-transform: uppercase;
    background-color: #0265c3;
    padding: 10px;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar-item {
    padding-left: 20px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.navbar-right .navbar-item {
    border-radius: 30px;
    border: 2px solid white;
    padding: 5px 25px;
}

.img img {
    height: 150px;
    width: 150px;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item img {
    max-width: 70%;
    padding: 20px;
}

.product-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item-column {
    flex-direction: column;
}

.product-item-text {
    color: white;
    font-size: 23px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.product-button {
    font-family: 'Raleway', sans-serif;
    border: 3px solid white;
    color: white;
    padding: 5px 35px;
    border-radius: 30px;
    /*Circle*/
}

h1 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Raleway', sans-serif;
}

h2 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.pepsi-zero {
    width: 900px;
}