body{
    margin: 0;
    font-weight: Sofia Pro Regular, Helvetica Neue, Helvetica, Arial;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-transform: uppercase;
    background-color: #0265c3;
    padding: 10px;
    color: white;
}

.navbar-left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar-item{
    padding-left: 20px;
    cursor: pointer;
}